.select .main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items {
    position: absolute;
    border: 1px solid red;
    padding: 5px;
}

.item.selected {
    background-color: #8080f1;
    color: white;
}

